@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
}

.container {
   width: 1140px;
   margin: 0 auto;
}
.descr {
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: #000000;
   &_fz12 {
      font-size: 12px;
      line-height: 18px;
   }
}
.divider {
   width: 60px;
   height: 3px;
   background-color: $main-color;
   &_midle {
      margin: 25px auto 0 auto;
   }
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/aboutme';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/pricelist';
@import 'blocks/contacts';
// @import 'blocks/about';